<h2>Create una cuenta</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Correo_electronico %><br />
    <%= f.email_field :email, placeholder: "Correo electronico", autofocus: true, autocomplete: "email" %>
  </div>
<p></p>
  <div class="field">
    <%= f.label :Contrase単a %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres como minimo)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Inserta una contrase単a", autocomplete: "new-password" %>
  </div>
 <p></p>
  <div class="field">
    <%= f.label :Confirmar_contrase単a %><br />
    <%= f.password_field :password_confirmation, placeholder: "Inserta de nuevo la contrase単a", autocomplete: "new-password" %>
  </div>
<p></p>
  <div class="actions">
    <%= f.submit "Crear cuenta", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
