<p style="color: green"><%= notice %></p>

<%= render @musica %>
<%= link_to 'Descargar musica', @musica.file %>
 &nbsp; 
  <%= link_to "Editar musica", edit_musica_path(@musica) %> 
  &nbsp;
  <%= link_to "Volver", musicas_path %>
 <p style="color: green">La musica se descargara automaticamente al pulsar descargar</p> 
<div class="float-sm-start">
  <%= button_to "Eliminar musica", @musica, class: 'btn btn-danger', method: :delete %>
</div>
