<!DOCTYPE html>
<html>
  <head>
    <title>Aplicacion Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <%= notice %>
    <%= alert %>
<div id="mainWrapper">
  <header>

<div id="headerLinks">
<div id="logo"> <img src="/logomusica.png" width="120" height="60"></div>
 <!-- Condicional del registro -->
    <% if current_user %> Bienvenido, 
    <%= current_user.usuario %> 
    <%= button_to "Cerrar sesion", destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-danger' %>
    <% end %>
    </div>
  </header>

    <%= yield %>
    <br>&nbsp; &nbsp;
